body{
   background-image: url(https://fondosmil.com/fondo/7191.jpg);
    text-align: center;
}

.container{
    width: 30rem;
    background-color: rgba(255, 255, 255, 0.751);
    margin-top: 20rem;
    height: 22rem;
}
#grados , #grados2{
    border-radius: 30rem;
}
